<div class="help">
    <div class="help__content">
        <span class="help__el">Nerandate norimo automobilio?</span>
        <a class="help__el" href="tel:+37060286751">+37060286751</a>
        <span class="help__el">Skambinkite, padėsime!</span>
    </div>
</div>