<div class="privacy">
    <div class="privacy__head">
        <h2>Pažymėdamas(-a) varnelę:</h2>
        <button class="privacy__button"></button>
    </div>

    <section class="privacy__content">
        <div class="privacy__text">
                <p>Šiuo sutikimu <strong>patvirtinu, kad susipažinau ir sutinku</strong> su žemiau nurodytomis nuostatomis, t.y.: sutinku, kad UAB „SOTERO LT“ (juridinio asmens kodas 303431973, buveinė registruota adresu Kareivių g. 19-188 Vilnius, Lietuva) tvarkytų mano pateiktus asmens duomenis (vardą, pavardę, adresą, telefono numerį, elektroninio pašto adresą) tiesioginės rinkodaros tikslais, t.y. kreiptųsi į mane telefonu, paštu, elektroniniu paštu su tikslu:</p>
                <ul class="privacy__list">
                    <li>teikti man informaciją ir reklaminę medžiagą apie UAB „SOTERO LT“ teikiamas paslaugas, naujienas;</li>
                    <li>teikti informaciją apie vykstančius UAB „SOTERO LT“ renginius ar akcijas;</li>
                    <li>sužinoti mano nuomonę apie UAB „SOTERO LT“ teikiamų paslaugų kokybę.</li>
                </ul>
            
                <p><strong>Esu informuotas/-a ir suprantu, kad:</strong></p>
            
                <ul class="privacy__list">
                    <li>turiu teisę susipažinti su savo pateiktais asmens duomenimis ir žinoti kaip jie tvarkomi,</li>
                    <li>žinoti (būti informuotas/-a) apie savo asmens duomenų tvarkymą,</li>
                    <li>reikalauti ištaisyti neteisingus, neišsamius, netikslius savo asmens duomenis,</li>
                    <li>reikalauti sustabdyti duomenų tvarkymą,</li>
                    <li>reikalauti perkelti asmens duomenis,</li>
                    <li>nesutikti, kad būtų tvarkomi mano asmens duomenys tiesioginės rinkodaros tikslu,</li>
                    <li>reikalauti, kad UAB „SOTERO LT“ sunaikintų mano pateiktus asmens duomenis.</li>
                </ul>
            
                <p><strong>Esu informuotas/-a ir suprantu</strong>, kad turiu teisę bet kada atšaukti savo sutikimą dėl savo asmens duomenų tvarkymo tiesioginės rinkodaros tikslais, pateikęs/-usi tokį savo prašymą UAB „SOTERO LT“ el. paštu diana@paskola23.lt, temos laukelyje įrašant „Atsisakyti“ ir laiške nurodant savo vardą, pavardę ir kokiu adresu, tel. numeriu, el. paštu nenoriu gauti informacijos.
                </p>
            
                <p><strong>Esu informuotas/-a ir suprantu</strong>, kad mano asmens duomenys tiesioginės rinkodaros tikslais bus tvarkomi ne ilgiau kaip 2 (dvejus) metus nuo duomenų rinkimo pradžios momento, išskyrus atvejus, jei aš pareikšiu nesutikimą dėl savo asmens duomenų tvarkymo minėtais tikslais ir/ar duotą sutikimą atšauksiu. Tokiu atveju suprantu, kad UAB „SOTERO LT“ nutrauks mano asmens duomenų tvarkymą tiesioginės rinkodaros tikslais nuo mano nesutikimo gavimo dienos.</p>
            
                <p><strong>Esu informuotas/-a ir suprantu</strong>, kad turiu teisę pateikti skundą Valstybinei duomenų apsaugos inspekcijai, jeigu manysiu, kad UAB „SOTERO LT“ netinkamai tvarko mano asmens duomenis.</p>
        </div>
    </section>

</div>