<footer class="footer">
    <div class="footer__container">
            <p class="footer__text"> Prekės ženklo PROLIZINGAS valdytojas yra UAB "Sotero LT", kurios buveinė yra Kareivių g. 19, Vilnius, įmonės kodas 303431973, duomenys kaupiami ir saugomi Juridinių asmenų registre.
                    UAB "Sotero LT" produktai: siūlome lizingo, atgalinio lizingo ir ilgailaikės automobilių nuomos paslaugas. Priklausomai nuo finansavimo sumos, laikotarpio bei norimo įsigyti automobilio gali keistis ir finansavimo salygos. Galite rinktis sutarties laikotarpį nuo 3 iki 72 mėnesių.
                    Standartinis bendros vartojimo kredito kainos metinės normos (BVKKMN) apskaičiavimo pavyzdys: skolinantis 3000 Eur, kai sudaroma 48 mėn. sutartis, metinė palūkanų norma - 36%, sutarties sudarymo mokestis – 6% (mokamas per visą sutarties laikotarpį), bendra kredito suma, kuria klientas gali naudotis - 3000 Eur, mėnesio įmoka – 118,73 Eur, bendra sumokama suma – 5879,04 Eur, bendra vartojimo kredito kainos metinė norma – 45,42%. Jums gali būti pasiūlytos ir kitos finansavimo sąlygos, priklausomai nuo Jūsų mokumo bei rizikos įvertinimo.</p>
    </div>
</footer>
<script src="https://use.fontawesome.com/affd595d93.js"></script>