<div class="modal js-modal">
        <div class="modal__wrapper js-modal-wrapper">
            <div class="modal__content js-modal-content">
                <div class="modal__consent">
                    <%- include('consent') %> 
                </div>
                <div class="modal__privacy">
                    <%- include('privacy') %> 
                </div>
            </div>
        </div>
</div>