<div class="privacy">
    <div class="privacy__head">
            <h2>Privatumo politika</h2>
            <button class="privacy__button"></button>
    </div>

    <section class="privacy__content">
        <div class="privacy__text">
            <p>
            Mes, UAB „Sotero LT“, juridinio asmens kodas 303431973, adresas Kareivių g. 19-188, Vilnius (<em>Bendrovė arba mes</em>), gerbiame ir saugome Jūsų privatumą bei įsipareigojame sąžiningai ir teisėtai tvarkyti bei prižiūrėti Jūsų asmens duomenis. Šis dokumentas Jums taikomas, jei Jūsų asmens duomenis (gautus iš Jūsų ar kitaip teisėtai surinktus) tvarko Bendrovė. Ši Bendrovės privatumo ir asmens duomenų tvarkymo politika (<em>Privatumo politika</em>) skirta informuoti Jus, kaip Bendrovė renka, naudoja, dalinasi ir kitaip tvarko Jūsų asmens duomenis, taip pat apie Jūsų teises Bendrovei tvarkant Jūsų asmens duomenis.

            Privatumo politika parengta vadovaujantis Bendruoju Duomenų Apsaugos Reglamentu (ES) 2016/679 (<em>Reglamentas</em>), Lietuvos Respublikos asmens duomenų teisinės apsaugos įstatymu ir kitais Lietuvos Respublikoje taikomais teisės aktais, reguliuojančiais duomenų apsaugą ir tvarkymą.
            
            Ši Privatumo politika gali būti keičiama atsižvelgiant į teisės aktų, Bendrovės veiklos pokyčius ir kitus veiksnius. Bet kuriuo atveju pakeitę Privatumo politiką mes Jums pranešime apie šiuos pakeitimus, paskelbdami pakeistą Privatumo politiką Bendrovės interneto svetainėje www.paskola23.lt (<em>Svetainė</em>). Patariame Jums periodiškai apsilankyti mūsų Svetainėje ir peržiūrėti aktualią Privatumo politiką.
            </p>

            <strong>Kokius asmens duomenis tvarkome?</strong>

            <p>
                Pagrindinės asmens duomenų, kuriuos renka Bendrovė, kategorijos, tačiau jomis neapsiribojant, yra:
            </p>

            <p>
                Pagrindiniai asmens tapatybės duomenys – pavyzdžiui, vardas, pavardė, asmens kodas, gimimo data, amžius, asmens tapatybės dokumento nuotrauka, veido nuotrauka, tapatybės nustatymo data ir būdas, parašas.
            </p>

            <p>
                Kontaktiniai duomenys – pavyzdžiui, gyvenamosios vietos adresas, adresas korespondencijai, telefono numeris, el. pašto adresas.
            </p>

            <p>
                Identifikavimo duomenys – pavyzdžiui, asmens tapatybės dokumento (paso, asmens tapatybės kortelės) duomenys, IP adresas, Svetainės naršymo informacija, įskaitant duomenis apie tai, kada ir iš kur buvo prisijungta prie mūsų Svetainės ar kitų elektroninių platformų.
            </p>

            <p>
                Duomenys, susiję su juridiniais asmenimis – pavyzdžiui, informacija apie naudos gavėją ir (ar) asmenį, atstovaujantį klientą (juridinį asmenį), šių asmenų kontaktiniai duomenys.
            </p>

            <p>
                Duomenys apie šeimą – pavyzdžiui, šeiminė padėtis, išlaikomi asmenys ir (ar) šeimos nariai.      
            </p>

            <p>
                Duomenys apie laiduotojus, turto savininkus (valdytojus) ir kitus su sutarties vykdymu susijusius asmenis – pavyzdžiui, laiduotojo, turto savininko ar valdytojo asmens tapatybės duomenys, kontaktiniai duomenys, identifikavimo duomenys.
            </p>

            <p>
                Finansiniai duomenys – pavyzdžiui, duomenys apie sąskaitas, turimą turtą, jo rūšį, vertę, šį turtą identifikuojančius registracijos numerius ir kitus duomenis, įskaitant ir šio turto nuotraukas, turimus (pradelstus) finansinius įsipareigojimus, įskaitant duomenis apie kliento kreditorius, šių įsipareigojimų dydį, kliento mokėjimo elgesį, kliento kredito istoriją ir kreditingumą, kitus įsipareigojimus, pajamas, įskaitant pajamas pagrindžiančių dokumentų kopijos, jų šaltinį, išlaidas.

            </p>

            <p>
                Ekonominiai duomenys – pavyzdžiui, duomenys apie kliento darbovietę, užimamas pareigas, duomenys apie kliento vykdomą ūkinę-komercinę veiklą, kitus pajamų šaltinius.
            </p>

            <p>
                Duomenys, susiję su rizikos profiliavimu ir klasifikavimu – pavyzdžiui, duomenys apie rizikos rūšį, kliento rizikos klasę ir pan.
            </p>

            <p>
                Duomenys, gaunami ir (arba) sukuriami vykdant teisės aktų reikalavimus – pavyzdžiui, duomenys, gauti pagal teisėsaugos institucijų, notarų, mokesčių administratoriaus, teismų ir antstolių paklausimus, taip pat duomenys apie kliento turimų lėšų kilmę, kliento gyvenamąją vietą, pilietybę, duomenys, reikalingi Bendrovei taikyti reikalingas priemones pinigų plovimo ir teroristų finansavimo prevencijos srityje ir užtikrinti tarptautinių sankcijų vykdymą, įskaitant dalykinių santykių su klientu tikslo nustatymą ir stebėseną, kliento pažinimo principo įgyvendinimą, bei siekiant nustatyti, ar asmuo yra politikoje dalyvaujantis ar su tokiu asmeniu susijęs asmuo.
            </p>

            <p>
                Duomenys, renkami ryšio ir kitomis techninėmis priemonėmis – pavyzdžiui, garso įrašai, kai klientai kontaktuoja su Bendrovės darbuotojais telefonu, informacija, gauta el. paštu, pranešimais ir kitomis ryšio priemonėmis, įskaitant socialinius tinklus, duomenys, susiję su kliento lankymųsi Bendrovės Svetainėje ar naudojantis kitais Bendrovės komunikacijos kanalais (pvz. web aplikacija telefone ir pan.).
            </p>

            <p>
                Buvimo vietos nustatymo duomenys – pavyzdžiui, duomenys apie automobilio buvimo vietos koordinates ir judėjimo trajektoriją.
            </p>

            <p>
                Duomenys, susiję su paslaugų teikimu – pavyzdžiui, duomenys apie sutarčių vykdymą arba nevykdymą, galiojančias arba baigusias galioti sutartis, pasirinktas paslaugas (produktus), pateiktas paraiškas, prašymus ir skundus, paskolos sumą, grąžinimo terminą, taikomą palūkanų normą, paslaugų mokesčius, įmokų dydžius ir kitus su finansavimo sąlygomis susijusius duomenis, išrašytas sąskaitas, atliekamus mokėjimus, uždelstų mokėjimų laikotarpį.      
            </p>

            <p>
                Statistiniai duomenys apie kliento elgesio įpročius, paslaugų kokybę, pageidavimus – pavyzdžiui, duomenys apie aktyvumą naudojantis paslaugomis, klientui teikiamas paslaugas, kliento atsiliepimus apie paslaugas, duomenys apie tai, ar klientas patenkintas paslaugomis, įskaitant garso įrašymą, duomenys apie paraiškos pateikimą, jos pateikimo datą, laiką, duomenys apie pateiktą komercinį pasiūlymą, pasiūlymo pateikimo laiką.

            </p>

            <p>
                Bendrovė netvarko ypatingų asmens duomenų, susijusių su Jūsų sveikata, etnine kilme, religiniais ar politiniais įsitikinimais, išskyrus atvejus, kuomet to reikalauja teisės aktai. Duomenys apie vaikus renkami tik Jums pateikus informaciją apie savo vaikus naudojantis Bendrovės teikiamomis paslaugomis.    
            </p>


            <strong>Kokiais tikslais ir pagrindais tvarkome asmens duomenis?</strong>

            <p>Pagrindiniai tikslai, kurių siekia Bendrovė, tvarkydama asmens duomenis:
                <ul class="privacy__list">
                    <li>Asmens ir naudos gavėjo tapatybės nustatymas (identifikavimas) ir šių duomenų stebėsena, asmens duomenų teisingumo patikrinimas: dėl Bendrovės teisėto intereso, taip pat vykdydami teisės aktų reikalavimus, nustatome kliento, o tai atvejais, kai tai aktualu – galutinio naudos gavėjo, tapatybę ir patikriname jo pateiktų duomenų teisingumą;</li>
                    <li>Asmens finansinės rizikos įvertinimas: dėl Bendrovės teisėto intereso, taip pat vykdydami teisės aktų reikalavimus įvertiname kliento finansinės rizikos lygį;</li>
                    <li>Asmens mokumo įvertinimas: dėl Bendrovės teisėto intereso, taip pat vykdydami teisės aktų reikalavimus ir siekdami sudaryti sutartį įvertiname kliento mokumo galimybes;</li>
                    <li>Pinigų plovimo ir teroristų finansavimo prevencija: vykdydami teisės aktų reikalavimus bei siekdami nustatyti, ar asmuo gali būti Bendrovės klientu, tvarkome asmens duomenis;</li>
                    <li>Reikalavimų, susijusių su Bendrovės veiklos rizikos valdymu, vykdymas: vykdydami teisės aktų reikalavimus ir siekdami tinkamai valdyti su Bendrovės vykdoma veikla susijusias rizikas, tvarkome asmens duomenis;</li>
                    <li>Paslaugų teikimas nuotoliniu būdu: tvarkome asmens duomenis tiek, kiek reikalinga teikti paslaugas Bendrovės klientams nuotoliniu būdu;</li>
                    <li>Jungtinės skolininkų duomenų rinkmenos tvarkymas: dėl Bendrovės teisėto intereso tvarkome jungtines skolininkų duomenų rinkmenas;</li>
                    <li>Sutarčių sudarymas ir vykdymas: tvarkome asmens duomenis tiek, kiek reikalinga sudaryti sutartis ir jas vykdyti;</li>
                    <li>Įsiskolinimo valdymas: su tuo susijusius asmens duomenis bei duomenis apie automobilio buvimo vietos koordinates ir judėjimo trajektoriją tvarkome siekdami valdyti kliento įsiskolinimą, kai tai yra būtina vykdant sutartį ar siekiant Bendrovės teisėto intereso užtikrinti skolų valdymą;</li>
                    <li>Teisinių reikalavimų pateikimas, vykdymas, perleidimas ir gynimas: asmens duomenis tvarkome teisinių reikalavimų pateikimo, vykdymo, perleidimo ir gynimo tikslais, kai tai yra būtina vykdant sutartį ar vykdant teisinę pareigą, arba siekiant Bendrovės teisėto intereso, susijusio su teisinių reikalavimų vykdymu;</li>
                    <li>Užklausų valdymas: kad atsakytumėme į Jūsų užklausas, Bendrovė teisėtu interesu tvarko Jūsų asmens duomenis;</li>
                    <li>Vidaus administravimas: dėl Bendrovės teisėto intereso, taip pat vykdydami teisės aktų reikalavimus ir siekdami tinkamo vidaus administravimo tikslų (tinkamo Bendrovės struktūros, raštvedybos, finansų ir buhalterinės apskaitos tvarkymo) tvarkome asmens duomenis;</li>
                    <li>Tiesioginė rinkodara: Bendrovė, gavusi kliento sutikimą, tvarko asmens duomenis tiesioginės rinkodaros (paslaugų siūlymas, naujienų teikimas, kliento nuomonės teiravimasis, rinkos tyrimų vykdymas ir pan.) tikslu;</li>
                    <li>Statistinių duomenų analizė: Bendrovė, užtikrinusi pakankamų techninių ir organizacinių priemonių įdiegimą, tvarko asmens duomenis statistinių duomenų analizės tikslu;</li>
                    <li>Paslaugų kokybės užtikrinimas ir gerinimas: siekdami tobulinti, vystyti ir mažinti mūsų siūlomų paslaugų ir valdomų elektroninių platformų sutrikimus, dėl Bendrovės teisėto intereso renkame ir analizuojame asmens duomenis, padedančius gerinti mūsų paslaugų teikimą, tobulinti elektronines platformas, jų turinį ir pan.</li>
                </ul>
                Asmens finansinės rizikos ir mokumo nustatymo, reikalavimų, susijusių su Bendrovės veiklos rizikos valdymu, vykdymo, taip pat sutarties sudarymo (paslaugų teikimo) ir įsiskolinimo valdymo tikslais, sprendimų dėl paslaugų, teikiamų vadovaujantis Lietuvos Respublikos vartojimo kredito įstatymu, priėmimui galime remtis automatine duomenų analize, kurią atliekame remdamiesi informacija apie Jūsų pajamas, turimus finansinius įsipareigojimus bei atsižvelgdami į kitas mūsų vertinimui reikšmingas aplinkybes. Jei nesutinkate su tokiu automatizuotai priimtu sprendimu, Jūsų prašymu sprendimą peržiūrės ir Jūsų kreditingumą neautomatiniu būdu įvertins mūsų darbuotojas.
            </p>

            <strong>Iš kur gauname asmens duomenis?</strong>

            <p>Mes tvarkome asmens duomenis, kuriuos Jūs pateikiate, pavyzdžiui, kreipdamiesi dėl mūsų teikiamų paslaugų ir jomis naudodamiesi, pildydami įvairias anketas, teikdami užklausas, prašymus ar pretenzijas, taip pat tvarkome asmens duomenis, kuriuos užfiksuojame Bendrovės Svetainėje ar įrašydami pokalbius telefonu.
            </p>

            <p>
                Asmens duomenys taip pat gali būti gaunami iš kitų šaltinių:
            </p>

            <ul class="privacy__list">
                <li>Kitų finansų įstaigų;</li>
                <li>Teisėsaugos institucijų, valstybės įstaigų, institucijų ir kitų registrų (duomenų bazių), įskaitant, bet neapsiribojant iš Lietuvos banko, Statistikos departamento, Valstybinio socialinio draudimo fondo valdybos prie Socialinės apsaugos ir darbo ministerijos, Valstybinės ligonių kasos prie Sveikatos apsaugos ministerijos, Valstybinės mokesčių inspekcijos prie Lietuvos Respublikos finansų ministerijos, Antstolių informacinės sistemos, VĮ Registrų centras, VĮ Regitra;</li>
                <li>Draudimo bendrovių;</li>
                <li>UAB Creditinfo Lietuva;</li>
                <li>Bendrovės partnerių, tarpininkų (pvz. paskolų palyginimo platformų, tame tarpe UAB Altero.lt, UAB Vertikalus dangus, kitų paskolų tarpininkų, paskolų brokerių, automobilių pardavėjų ir pan.). Tarpininkų sąrašą rasite čia;</li>
                <li>Bendrovės grupės įmonių;</li>
                <li>Fizinių asmenų, kai jie pateikia sutuoktinių, vaikų, išlaikytinių ir kitų giminystės ar svainystės ryšiais susijusių asmenų, bendraskolių, laiduotojų, užtikrinimo priemonių davėjų ir pan. duomenis;</li>
                <li>Mums skirtų ir fizinių ar juridinių asmenų, vykdant sutartinius ar teisės aktų reikalavimus, mums pateiktų dokumentų (pvz. pažymose ir pan.);</li>
                <li>Juridinių asmenų, kai Jūs esate šių juridinių asmenų atstovas, darbuotojas, steigėjas, akcininkas, dalyvis savininkas, teisėtai įgaliotas asmuo ir pan.</li>
            </ul>

            <strong>Kiek laiko saugome Jūsų asmens duomenis?</strong>

            <p>
                Mes tvarkome duomenis ne ilgiau nei reikia duomenų rinkimo tikslui pasiekti. Asmens duomenų saugojimo laikotarpis apibrėžiamas atsižvelgiant į Bendrovės teisėtą interesą arba teisės aktų reikalavimus (pvz., reglamentuojančius apskaitos, archyvavimo reikalavimus, ieškinio senaties terminą ir kt.).
            </p>

            <strong>Kam Jūsų asmens duomenys gali būti perduoti?</strong>

            <p>Aukščiau nurodytais tikslais surinkti asmens duomenys gali būti perduodami gavėjams, tokiems kaip:</p>

            <ul class="privacy__list">
                <li>Valstybės įstaigos ir institucijos, kiti asmenys, vykdantys įstatymų jiems pavestas funkcijas (pavyzdžiui, teisėsaugos institucijos, antstoliai, notarai, mokesčių administravimo, Bendrovės priežiūrą, finansinių nusikaltimų tyrimo veiklą atliekančios institucijos);</li>
                <li>Kredito ir finansų įstaigos, draudimo paslaugų teikėjai ir finansinių paslaugų tarpininkai;</li>
                <li>Bendrovės grupės įmonės;</li>
                <li>Auditoriai, teisės ir finansų konsultantai, Bendrovės įgalioti duomenų tvarkytojai;</li>
                <li>Trečiosios šalys, tvarkančios registrus (įskaitant įmones, valdančias jungtines duomenų rinkmenas (pvz. UAB „Creditinfo Lietuva“), paskolų registrus, Nekilnojamojo turto registrą, Gyventojų registrą, Juridinių asmenų registrą ar kitus registrus, kuriuose tvarkomi asmens duomenys, arba subjektus, kurie tarpininkauja teikiant asmens duomenis iš tokių registrų);</li>
                <li>Bendrovės partneriams, tarpininkams (pvz. paskolų palyginimo platformoms, tame tarpe UAB Altero.lt, UAB Vertikalus dangus, kitiems paskolų tarpininkams, brokeriams, automobilių pardavėjams ir pan.). Tarpininkų sąrašą rasite čia;</li>
                <li>Juridiniai asmenys, teikiantys asmenų tapatybės nustatymo (identifikavimo) paslaugas duomenų subjektams, sudariusiems paskolos ar kitas finansavimo sutartis su Bendrove (pvz. UAB „Identifikaciniai projektai“);</li>
                <li>Juridiniai asmenys, teikiantys transporto valdymo sistemos įrangos ir programinės įrangos naudojimo, priežiūros ir aptarnavimo paslaugas duomenų subjektams, sudariusiems paskolos ar kitas finansavimo sutartis su Bendrove (pvz. UAB „Baltic Car Equipment“);</li>
                <li>Skolų išieškojimo įmonės, kurioms perleidžiami reikalavimai į kliento įsiskolinimą arba pavedama atlikti išieškojimo veiksmus Bendrovės vardu;</li>
                <li>Teismai, tribunolai, arbitražai, kitos neteisminės ginčų nagrinėjimo institucijos, notarai ir bankroto administratoriai;</li>
                <li>Asmenys, kurie užtikrina tinkamą kliento įsipareigojimų įvykdymą, tokie kaip laiduotojai, paveldėtojai, garantai, įkaitų davėjai;</li>
                <li>Juridiniai asmenys, teikiantys draudimo paslaugas duomenų subjektams, sudariusiems paskolos ar kitas finansavimo sutartis su Bendrove;</li>
                <li>Juridiniai asmenys, teikiantys įmokų surinkimo paslaugas duomenų subjektams, sudariusiems paskolos ar kitas finansavimo sutartis su Bendrove;</li>
                <li>Juridiniai asmenys, teikiantys Bendrovei duomenų centrų, prieglobos, debesijos, svetainės administravimo, informacinių technologijų infrastruktūros ir susijusias paslaugas, taip pat kuriantys, teikiantys, palaikantys ir vystantys Bendrovės programinę įrangą;</li>
                <li>Kiti fiziniai ir juridiniai asmenys, teikiantys Bendrovei paslaugas, tokie kaip saugos, archyvavimo, pašto, reklamos, rinkodaros, ryšio paslaugų teikėjai, pardavėjai, pranešimų siuntimo platformos, naršymo internete ir (ar) veiklos internete analizę atliekančios ir tokias paslaugas teikiančios įmonės;</li>
                <li>Kiti tretieji asmenys kliento sutikimu, kuris gali būti gautas konkrečiu atveju.</li>
            </ul>

            <p>Šioje Privatumo politikoje nurodytų asmens duomenų tvarkymui Bendrovė gali pasitelkti kitus duomenų tvarkytojus. Tokiais atvejais Bendrovė imasi reikiamų priemonių siekiant užtikrinti, kad tokie duomenų tvarkytojai asmens duomenis tvarkytų, laikydamiesi Bendrovės nurodymų ir galiojančių teisės aktų, bei reikalauja įgyvendinti tinkamas asmens duomenų saugumo užtikrinimo priemones.
                </p>

            <strong>Kur tvarkome asmens duomenis?</strong>

            <p>
                Paprastai asmens duomenys tvarkome Europos Sąjungos / Europos ekonominėje erdvės (ES/EEE) teritorijoje. Tam tikrais atvejais asmens duomenys gali būti perduodami ir tvarkomi už ES/EEE ribų.
            </p>

            <p>Asmens duomenys gali būti perduodami ir tvarkomi už ES/EEE ribų, kai perdavimas yra būtinas sutarties sudarymui ir vykdymui arba Jūs davėte sutikimą, taip pat jeigu yra įgyvendinamos tinkamos apsaugos priemonės.</p>

            <p>Tinkamos apsaugos priemonės yra šios:</p>

            <ul class="privacy__list">
                <li>sudaryta sutartis, į kurią yra įtrauktos standartinės Europos Komisijos priimtos sąlygos ar kiti patvirtinti punktai, elgesio kodeksai, sertifikatai ir kt., patvirtinti pagal Reglamentą;</li>
                <li>šalis, nepriklausanti ES/EEE, kurioje yra asmens duomenų gavėjas, Europos Komisijos sprendimu užtikrina pakankamo lygio asmens duomenų apsaugą;</li>
                <li>gavėjas yra sertifikuotas pagal duomenų apsaugos susitarimo tarp ES ir Jungtinių Amerikos Valstijų (JAV) (dar vadinamo „privatumo skydu“) reikalavimus (taikoma gavėjams, esantiems JAV).</li>
            </ul>

            <strong>Jūsų teisės ir jų įgyvendinimas bei gynimas</strong>

            <p>Jūs turite teisę bet kada, pateikęs/-usi prašymą Bendrovei:</p>

            <ul class="privacy__list">
                <li>susipažinti su Bendrovės tvarkomais Jūsų asmens duomenimis ir kaip jie yra tvarkomi;</li>
                <li>tam tikrais atvejais prieštarauti duomenų tvarkymui;</li>
                <li>tam tikrais atvejais reikalauti ištrinti asmens duomenis;</li>
                <li>tam tikrais atvejais reikalauti perkelti asmens duomenis;</li>
                <li>ištaisyti neteisingus, neišsamius, netikslius savo asmens duomenis;</li>
                <li>reikalauti apriboti, išskyrus saugojimą, savo asmens duomenų tvarkymo veiksmus, kai duomenys tvarkomi nesilaikant įstatymų ir šios Privatumo politikos sąlygų.</li>
            </ul>

            <p>Mes dedame visas pastangas, kad įgyvendintume Jūsų teises ir atsakytume į Jums kylančius klausimus dėl šioje Privatumo politikoje pateikiamos informacijos. Savo aukščiau nurodytas teises galite įgyvendinti, o taip pat skundus, prašymus ar pranešimus galite pateikti susisiekdami su mumis vienu iš šių būdų:</p>

            <ul class="privacy__list">
                <li>išsiųsdami el. laišką el. paštu diana@paskola23.lt ir (arba)</li>
                <li>pateikdami rašytinį prašymą UAB „Sotero LT“ adresu Kareivių g. 19-188, Vilnius, Lietuva.</li>
            </ul>

            <p>Bendrovė įsipareigoja atsakyti į Jūsų prašymą per 1 mėnesį nuo jo gavimo dienos. Šis terminas prireikus gali būti pratęstas dar 2 mėnesiams, atsižvelgiant į prašymų sudėtingumą ir skaičių.</p>

            <p>Savo sutikimą gauti naujienlaiškius ir Bendrovei rinkti ir tvarkyti Jūsų asmens duomenis tiesioginės rinkodaros tikslais galite bet kada atšaukti, išsiųsdami laišką elektroninio pašto adresu diana@paskola23.lt. Taip pat atsisakyti Bendrovės siunčiamų naujienlaiškių galima paspaudus nuoroda „Atsisakyti naujienų“, esančią kiekvieno siunčiamo naujienlaiškio apačioje.</p>

            <p>Jūs turite teisę pateikti skundą Valstybinei duomenų apsaugos inspekcijai, jeigu manote, kad Bendrovė netinkamai tvarko Jūsų asmens duomenis.</p>

            <strong>Slapukų naudojimas</strong>

            <p>Slapukai (angl. cookies) – tai nedideli failai, kuriuos Jūsų naudojamo įrenginio (kompiuterio, telefono ar planšetės) naršyklė priima iš mūsų Svetainės ir išsaugo Jūsų įrenginyje.</p>

            <p>Detalesnė informacija apie mūsų Svetainėje naudojamus slapukus ir jų išjungimą rasite mūsų Slapukų politikoje.</p>

            <strong>Jūsų asmens duomenų saugumas – mūsų prioritetas</strong>

            <p>Mums svarbu apsaugoti Jūsų asmens duomenis. Mes suprantame saugumo svarbą ir metodus, kurių reikia informacijai apsaugoti. Tvarkydami asmens duomenis naudojamės saugiomis organizacinėmis ir techninėmis priemonėmis, kurios užtikrina tinkamą  asmens duomenų apsaugą, įskaitant atsitiktinį ar neteisėtą šių duomenų sunaikinimą, pakeitimą, atskleidimą ir pan. Bendrovei perduodama ir jos tvarkoma informacija laikoma patikimuose serveriuose ir archyvuose, o Bendrovės taikomos duomenų saugumo priemonės nustatomos atsižvelgiant į duomenų subjektų teisėms ir laisvėms kylančias rizikas, t.y. vadovaujamasi rizika paremtu vertinimu.</p>

            <p>Pažymime, kad mes nesame atsakingi už įvykius, kurių negalime tiesiogiai kontroliuoti. Mes negalime garantuoti, kad nebus veikimo klaidų apsaugant Jūsų asmens duomenis. Be to, mes taip pat neatsakome už jokius tiesioginius ar netiesioginius įvykius ar žalą naudojant ir (arba) pateikiant Jūsų asmens duomenis, įskaitant, be viso kito, riziką asmens duomenims dėl klaidų, neteisėtos trečiųjų šalių prieigos ir bet kurių kitų veiksnių, kurių negalime tiesiogiai kontroliuoti.</p>
        </div>
    </section>
</div>