<!DOCTYPE html>
<html lang="lt">
<head>
  <title>Pro Lizingas</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Pasiūlymo forma</title>
</head>
<body>
        <%- include('partials/header') %>
        <main class="main-page">
            <%- include('partials/back-button') %>
            <div class="container-404">
                <div class="container-404__wrapper">
                    <h2>Atleiskite, įvyko klaida.</h2>
                </div>
            </div>
        </main>
        <%- include('partials/callToAction') %>
        <%- include('partials/footer') %>

</body>
</html>